/* .App {
  text-align: center;
  
}
.body{
  background-color: black;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */


.slide-container {
  width: 400px;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 200px;
  width: auto;
}


.circle {
  background: #043E78;
  border-radius: 200px;
  color: white;
  height: 150px;
  width: 150px;
  display: table;
  margin: 20px auto;
}
.circle p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.container{
position: fixed;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
/* p{
 color:#f04a3e;
} */
